/* Style général */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

/* En-tête */
header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Section projets */
section {
    padding: 20px;
}

h2 {
    color: #333;
}

ul li {
    margin-bottom: 15px;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

/* Pied de page */
footer {
    text-align: center;
    padding: 10px;
    background-color: #eee;
    margin-top: 20px;
}
